<h1>Remove @Model.Name?</h1>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}

@Html.ActionLink("Nevermind", "Details", null, new {id = @Model.AnimalId}, new {@class="btn btn-info"})